body
{
    /*设置外边距为0*/
    margin: 0px;
    /*设置内边距为0*/
    padding: 0px;
}

div{
    /*设置div为绝对定位*/
    position: absolute;
}

.bg
{
    width: 800px;
    height: 600px;
    background: #f2f2f2;
    /*隐藏溢出的内容*/
    overflow: hidden;
}

.beam{
    width: 1600px;
    height: 20px;
    top:290px;
    left: -400px;
    background: #fff;
}
.d_shield1,.d_shield2,.d_shield3{
    background:#e15016;
}

.d_shield1{
    left:32px;/*绝对定位，距父元素左边线32像素*/
    width:140px;
    height:346px;
}

.d_shield2{
    transform:skewx(5deg);/*变形（CSS3新增属性）：水平方向斜切5度*/
    left:16px;/*绝对定位，距父元素左边线16像素*/
    width:100px;
    height:346px;
}

.d_shield3{
    transform:skewy(15deg);/*变形：垂直方向斜切15度*/
    top:265px;/*绝对定位，距父元素上边线265像素*/
    left:32px;/*绝对定位，距父元素左边线32像素*/
    width:140px;
    height:100px;
}