/*第4单元 项目4-1 用户登录页面*/
body {
    /*设置背景图片 不平铺 水平和垂直都居中 固定不动*/
    background:url(../images/1.png) no-repeat center center fixed;
    /*保持图像本身的宽高比例，将图片缩放到正好完全覆盖定义背景的区域。*/
    background-size: cover;
    padding-top:20px;
}
form {
    width: 343px;
    height: 500px;
    margin:0 auto;
    padding:30px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    /*盒阴影：水平和垂直偏移量都为0、阴影模糊半径13px、阴影扩展半径3px、黑色透明度50%*/
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden;/*隐藏溢出内容*/
}
.border-radius {
    width: 200px;
    height: 200px;
    margin: 40px auto;
    background:url(../images/2.jpg) no-repeat center center;
    border:5px solid rgba(255,255,255,.4);
    border-radius: 200px;
}