/*第1单元 项目1-2  旅游网站页面 main.css*/
.qui-page {
    width: 640px;
}
.qui-header {
    width: 100%;
    height: 80px;
    overflow: hidden;  /*隐藏溢出内容*/
    background-color: #2bab79;  /*背景颜色为#2bab79*/
}




/*省略右半边样式的设计*/




.qui-asides {
    position: absolute;
    left: -200px;
    top: 0;
    height: 400px;
    width: 200px;
}
.qui-aside {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    overflow-y: scroll;  /*垂直方向内容溢出则出现滚动条*/
    background-color: #2d3741;
}
.qui-asideNav {
    padding: 80px 10px 10px; /*上内边距为80px,左右内边距都为10px，下内边距为10px*/
}
.qui-asideNav li {
    border-top: 1px solid #232d34;
    background-color: #36424b;
}
.qui-asideNav a {
    text-decoration: none;
    display: block;
    padding-left: 15px;
    font-size: 16px;
    line-height: 44px;
    color: #ced1d5;
}
.qui-asideNav a:hover {
    color: white;
    background-color: #2bab79;
}