/*第2单元 项目2-3  手机邮箱导航页面 */
html,body,div,span,h1,a,ul,li,nav {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;/*元素的基线同父元素的基线对齐*/
}
body
{
    line-height:1em;
    line-height:1em;
    background: #F4F4F4;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: lighter;
}
.l-main
{
    width: 530px;
    margin: 0 auto;
}
.menu
{
    width: 250px;
    margin: 40px;
    background: #fff;
    /*盒子阴影：水平方向0 垂直方向向下1px 模糊程度4px 黑色透明度30%*/
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;/*边框圆角5px*/
    float: left;
}
.menu_header
{
    background: #4B4F55;
    border-bottom: 1px solid #353A40;/*设置元素下边框为1px颜色#353A40的实线*/
    border-radius: 5px 5px 0 0;/*边框圆角：左上角5px 右上角5px 右下角0 左下角0*/
}
.menu_header-title
{
    color: #fff;
    padding: 15px;
    /*文本阴影：垂直方向0 水平方向向右1px 透明度40%的黑色阴影*/
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
.menu_body
{
    border-radius: 0 0 5px 5px;/*边框圆角：左上角、右上角为0，右下角、左下角5px*/
}
.nav
{
    list-style: none;
}
.nav_item
{
    position: relative;
}
.nav_item-link
{
    padding: 10px 15px;/*内边距：上下10px 左右1px*/
    text-decoration: none;/*文本样式：无*/
    color: #8B8E93;
    display: block;/*把行元素强制转换为块元素*/
    border-bottom: 1px solid #F0F0F0;
}
.nav_item-link:hover
{
    background: #f0f0f0;/*鼠标悬浮在该元素的时候，背景颜色变为#f0f0f0*/
}
